keybinds clear-defaults=true {
    locked {
        // 表示忽略Zellij本身的按键绑定，直接把按键给终端
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    pane {
        // 前置按键
        bind "Ctrl p" { SwitchToMode "normal"; }

        // 切换焦点
        bind "left" { MoveFocus "left"; }
        bind "right" { MoveFocus "right"; }
        bind "up" { MoveFocus "up"; }
        bind "down" { MoveFocus "down"; }
        bind "h" { MoveFocus "left"; }
        bind "l" { MoveFocus "right"; }
        bind "k" { MoveFocus "up"; }
        bind "j" { MoveFocus "down"; }

        bind "p" { SwitchFocus; }

        // 重新命名当前pane
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "d" { NewPane "down"; SwitchToMode "normal"; }
        bind "r" { NewPane "right"; SwitchToMode "normal"; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "s" { NewPane "stacked"; SwitchToMode "normal"; }

        // 切换嵌入/浮动
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        // 切换浮动
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
        // 切换全屏模式
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        // 切换固定
        bind "i" { TogglePanePinned; SwitchToMode "normal"; }
        // 切换边框
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
    }
    tab {
        // 前置按键
        bind "Ctrl t" { SwitchToMode "normal"; }

        // 切换标签页
        bind "left" { GoToPreviousTab; }
        bind "down" { GoToNextTab; }
        bind "up" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }

        // 直接跳转到指定标签页
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }

        // 分割窗格
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }

        // 新建
        bind "n" { NewTab; SwitchToMode "normal"; }
        // 重命名
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        // 全Pane同步：整个Tab的索引Pane都同步键入
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        // 关闭
        bind "x" { CloseTab; SwitchToMode "normal"; }
        // 显示/隐藏
        bind "tab" { ToggleTab; }
    }
    resize {
        // 前置按键
        bind "Ctrl n" { SwitchToMode "normal"; }
        // 增加
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        // 增加
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }

        // 减少
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        // +=-
        bind "+" { Resize "Increase"; }
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    move {
        // 前置按键
        bind "Ctrl h" { SwitchToMode "normal"; }

        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }

        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }

        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "tab" { MovePane; }
    }
    scroll {
        // Ctrl+s 前置按键
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    search {
        // Ctrl+ 前置按键
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        // 前置按键
        bind "Ctrl o" { SwitchToMode "normal"; }
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        // 管理插件
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "s" {
            LaunchOrFocusPlugin "zellij:share" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        // 管理session
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }

    // 除了locked模式外
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocusOrTab "right"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt f" { ToggleFloatingPanes; }

        bind "Ctrl g" { SwitchToMode "locked"; }

        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt l" { MoveFocusOrTab "right"; }
        bind "Alt i" { MoveTab "left"; }
        bind "Alt o" { MoveTab "right"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }

        bind "Alt n" { NewPane; }
        bind "Alt p" { TogglePaneInGroup; }
        bind "Alt Shift p" { ToggleGroupMarking; }

        bind "Ctrl q" { Quit; } // 退出Zellij
    }
    shared_except "locked" "move" {
        bind "Ctrl h" { SwitchToMode "move"; }
    }
    shared_except "locked" "session" {
        bind "Ctrl o" { SwitchToMode "session"; }
    }
    shared_except "locked" "scroll" "search" "tmux" {
        bind "Ctrl b" { SwitchToMode "tmux"; }
    }
    shared_except "locked" "scroll" "search" {
        bind "Ctrl s" { SwitchToMode "scroll"; }
    }
    shared_except "locked" "tab" {
        bind "Ctrl t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "pane" {
        bind "Ctrl p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" {
        bind "Ctrl n" { SwitchToMode "resize"; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_among "pane" "tmux" {
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
    shared_among "session" "tmux" {
        bind "d" { Detach; }
    }
    tmux {
        bind "left" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "down" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "up" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "right" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "space" { NextSwapLayout; }
        bind "\"" { NewPane "down"; SwitchToMode "normal"; }
        bind "%" { NewPane "right"; SwitchToMode "normal"; }
        bind "," { SwitchToMode "renametab"; }
        bind "[" { SwitchToMode "scroll"; }
        bind "Ctrl b" { Write 2; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "n" { GoToNextTab; SwitchToMode "normal"; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    }
}

// Plugin aliases
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

load_plugins {
}

// Web客户端
web_client {
    font "monospace"
}

// 是否使用简化的UI，默认是false
simplified_ui true

// 主题，默认是"dracula"
theme "catppuccin-latte"

// 默认输入模式是"normal"
// default_mode "locked"

// 打开新pane时使用的默认shell，默认使用$SHELL
default_shell "zsh"

// 打开新pane时使用的默认工作目录
default_cwd "~"

// 启动时使用的布局，默认是"default"
// 使用~/.config/zellij/layouts/目录下的布局文件
default_layout "circular-river"

// 从哪里加载布局
// layout_dir "/tmp"

// 主题目录
// theme_dir "/tmp"

// 是否启用鼠标模式
mouse_mode true

// 是否显示窗格边框
// zellij ac toggle-pane-frames
pane_frames false

// 多用户共享时，是否镜像光标；false表示每个用户有自己的光标
mirror_session true

on_force_close "detach"

// 回滚行数
scroll_buffer_size 10000000000

// 选中即拷贝
copy_on_select true


// 默认使用的session
session_name "circular-river"
attach_to_session true

styled_underlines true

// 将session的元数据缓存到磁盘
disable_session_metadata false
// 是否在保存session元数据时同时序列化pane的视图，默认是false
serialize_pane_viewport true

// 是否在启动时显示提示和发行说明
show_startup_tips false

// 是否在更新后首次启动时显示发行说明
show_release_notes true

// 是否开启鼠标悬停效果和窗格分组功能，默认是开启的
advanced_mouse_actions false
